/* Cores da paleta */
:root {
	--marrom-claro: #e7d7b7;
	--marrom-medio: #764217de;
	--marrom-escuro: #5c4033;
  }
  .menuOpen{
	color: var(--marrom-claro) !important;
  }
  /* Media queries para responsividade */
  @media (max-width: 768px) {
	.navbar-collapse {
	  background-color: var(--marrom-escuro) !important; /* Fundo da navbar em telas menores */
	  padding: 10px; /* Espaçamento interno da navbar em telas menores */
	}
  
	.navbar-nav {
	  width: 100%; /* Garante que a lista de navegação ocupe a largura total da navbar */
	  justify-content: space-around; /* Distribui os itens uniformemente na navbar */
	}
  
	.nav-item {
	  margin: 5px 0; /* Espaçamento vertical entre os itens da navbar */
	}
	
  }
  
  /* Estilos padrão da navbar */
  .navbar {
	background-color: var(--marrom-escuro) !important;
  }
  
  .customNavbar {
	background-color: var(--marrom-escuro) !important;
	color: white !important;
  }
  
  .nav-item {
	color: white !important;
  }
  
  .navbar-nav .nav-link {
	color: white !important;
  }
  
  .titleContainer {
	display: flex;
	align-items: center;
  }
  
  .title {
	margin-right: 10px;
	color: white !important;
  }
  
  .logo {
	max-width: 50px;
	height: auto;
  }
  
  .links {
	display: flex;
  }
  
  .links a {
	color: white;
	text-decoration: none;
	margin-right: 10px;
	transition: text-decoration 0.3s ease-in-out;
  }
  
  .links a:hover {
	text-decoration: underline;
	color: var(--marrom-medio); /* Alterado para marrom médio */
  }
  
  .customBtn {
	color: white !important;
	background-color: var(--marrom-claro); /* Alterado para marrom médio */
  }
  
  .custom-input:focus {
	background-color: var(--marrom-claro);
	box-shadow: none !important; /* Remove a sombra padrão */
  }
  
  .customBtn:active {
	background-color: var(--marrom-medio) !important;
	color: white !important;
  }
  
  /* Personalizações adicionais */
  
  .navbar-brand {
	font-size: 1.5rem;
  }
  
  .custom-input {
	border-radius: 5px;
	padding: 5px 10px;
  }
  
  .customBtn {
	background-color: var(--marrom-claro); /* Alterado para marrom médio */
	border-color: var(--marrom-escuro);
  }
  
  .customBtn:hover {
	background-color: var(--marrom-medio);
  }
  