.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card {
	display: flex;
	color: white;
	border-radius: 4%;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.46);
	padding: 15px;
	background: rgba(7, 7, 7, 0.379);
	justify-content: flex-start;
}

.image {
	width: 100%;
	height: 100%;
	border-radius: 4%;
	border: 2px solid white;
}

.cardImage {
	border: 2px solid white;
	padding: 4%;
	border-radius: 4%;
	box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.46);
    cursor: pointer;
}

.editPen {
	width: 20px;
	cursor: pointer;
	margin-top: 2%;
	display: flex;
	justify-content: flex-end;
}

.footerImage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 3%;
	align-items: stretch;
}

/* Estilo padrão */
.headTab {
	border: 2px solid white;
	border-radius: 10px 10px;
}

/* Estilize a classe .active para mudar a cor de fundo */
.TabsTrigger:focus {
	background: black;
}

@media (max-width: 768px){
    .tabsContainer{
        display: flex;
        margin-top: 5%;
        width: 80%;
    }
}