.root {
  --marrom-claro: #e7d7b7;
  --marrom-medio: #764217de;
  --marrom-escuro: #5c4033;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--marrom-claro);
}

.card1 {
  color: whitesmoke;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background-color: var(--marrom-medio);
  display: flex;
  align-self: flex-end; /* Alterado de 'flex-start' para 'flex-end' */
  width: 80%;
  padding: 2%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.card2 {
  color: black;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-self: flex-start;
  width: 80%;
  padding: 2%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.cardContent {
  display: flex;
  align-items: center;
}

.imageWrapper {
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.imgProfile {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.spanCustom {
  align-self: inherit;
  display: flex;
  gap: 1rem;
}

.hrCustom {
  border: none;
  border-top: 2px solid white;
  margin: 20px 0;
}
